body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
}

h3.bigger-text:hover{
    font-size: 150%;
}


h4.bigger-text:hover{
    font-size: 150%;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-shadow: 2px 2px 5px #222222;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #5e548e;
    color: #e0b1cb;
    border-bottom: 6px solid #9f86c0;
    border-left: 6px solid #222222;
    border-right: 6px solid #222222;
    border-top: 6px solid #9f86c0;
    
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}



/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
